*{
    margin: 0;
    padding: 0;
}
body{
    background-color: chartreuse;
    font-size: 1rem;
    color: magenta;
    margin: 0;
    padding: 0;
}
#myHeader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    margin: auto;
    /*padding-left: 15%;*/
    background-color: #000000;
    font-size: 3rem;
}
#myHeader span{
    margin: 0;
    padding-left: 12%;
}
#myHeader a{
    margin: 0px;
    padding-left: 1%;
}
#myHeader img{
    border: 1px solid black;/*red test*/
    border-radius: 23px;
    margin:0px;
    padding: 0px;
    width:56px;
    height: 56px;
}
.container1{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
.container1 img{
    width: 80%;
    height: 70%;
    padding-left: 10%;
    padding-top: 50px;
}
/*
*修改 #fp-nav ul li .fp-tooltip
*修改 fp-controlArrow .fp-prev
*修改 fp-controlArrow .fp-next
*修改 fp-slidesNav.bottom
*/
#fp-nav ul li .fp-tooltip{
    color: #ff0000;
    font-size:23px;
}
.fp-controlArrow.fp-prev{
    left: 33px;
}
.fp-controlArrow.fp-next{
    right: 33px;
}
.fp-slidesNav.bottom{
    bottom: 30px;
    color: #28ff4b;
}
#QRcode0{
    visibility: visible;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
    /*transition: ;*/
}
#QRcode1{
    visibility: hidden;
    z-index: -9999;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid red;
    padding: 0px;
    margin: 0px;
}
.myFooter{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
}
.myfooter{
    padding-left: 35%;
    background-color: #151515;
    width:100%;
    height: 100%;
    /*bottom: 0;*/
    font-size: 20px;
    color: #ffffff;

}
.myfooter span{
    margin: 0;
    padding: 2px;
}
.myfooter img{
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
}
p{
    background: #ffffff;
    font-size: 16px;
    color: #0f0f0f;
    padding:10px 10% ;

}
p::selection{
    background: #ff00ff;
    font-size: 32px;
    color: #00ff0f;
}
#share_content{
    visibility: hidden;/*hidden*/
    border-radius: 3px;
    border: dashed gold;
}
#sina_share_btn{
    width:26px;
    height: 26px;
    border-radius: 1px;
    border: dashed red;
}
#qq_share_btn{
    width:26px;
    height: 26px;
    border-radius: 1px;
    border: dashed red;
}